@media (max-width: 1000px) {

    :root{


    
        /* Border radius for the card */
        --border-radius-1: 15px;
    
        /* Border radius for the buttons */
        --border-radius-2: 30px;
    
        /* Text sizes */
        --title-size: 10vw; 
        --title-weight: 600; /* selct from 100 to 900 (thin to extra bold)*/
        --subtitle-size: 4vw;
        --subtitle-weight: 400; /* selct from 100 to 900 (thin to extra bold)*/
        --button-text-size: 4vw;
        --button-text-weight: 400;
        --social-text-size: 6vw;
    }

    .card {
        padding: 0;
        padding-bottom: 100px; 
        width: 80%; /* Adatta la larghezza */
    }



    .social-link {
        font-size: var(--social-text-size)
    }

    .menu-shape-1{
        position: absolute;
        bottom: 0px;
        right: -900px;
        width: 1250px;
        height: 2000px;
        border-radius: 50%;
        background-color: var(--gradient-color-4);
        z-index: 800;
        animation: rotate 10s linear infinite;
        opacity: 0.9;
    
    }
    
    .menu-shape-2{
        position: absolute;
        bottom: 0px;
        right: -850px;
        width: 1250px;
        height: 2000px;
        border-radius: 50%;
        background-color: var(--gradient-color-3);
        z-index: 800;
        animation: rotate 10s linear infinite;
        opacity: 0.9;
    }
    
    .menu-shape-3{
        position: absolute;
        bottom: -0px;
        right: -800px;
        width: 1250px;
        height: 2000px;
        border-radius: 50%;
        background-color: var(--gradient-color-2);
        z-index: 800;
        animation: rotate 10s linear infinite;
        opacity: 0.9;
    }


    html, body {
        overflow-x: hidden; /* Nasconde qualsiasi scroll orizzontale */
        position: relative;
    }

    
}
